.about-section {
  background-size: cover;
}

.about-band {
  width: 100%;
  text-align: center;
  background-color: #37474f;
}

.about-tittle{
  font-weight: bold;
  margin-bottom: 20px; 
  color: #00d6a6; 
}

.about-band-text {
  margin-left: 10%;
  margin-right: 10%;
  padding: 24px;
  padding-bottom: 72px;
  color: white;
}