#members-section {
	background-color: #fafafa;
	padding-top: 20px; 
	padding-bottom: 20px;
}

#members-table {
	margin-top: 10px;
}

.members-card-square.mdl-card {
	width: 250px;
  height: 300px;
  margin: 15px;
}

.members-table__column {
	display: inline-block;
}

.members-table__row {
	text-align: center;
}

.members_name {
	text-align: left;
	font-size: 20px;
}

.members_job {
	text-align: left;
	font-size: 15px;
}

@media (max-width: 900px) {
  .members-title{
    font-size: 32px;
  }

  .members-card-square.mdl-card {
    width: 150px;
    height: 300px;
    margin: 5px;
  }

  .members_name {
    font-size: 15px;
  }

  .members_job {
    font-size: 12px;
  }
}

.div {
	background-color: rgba(0,0,0,.3);
	width: 200%;
	height: 1px; 
}

#members_icons {
	margin-top: 5px;
	margin-right: -15px;
}

.members_icon {
	margin-left: 2px;
	margin-right: 2px;
	width: 25px; 
	height: auto;
	opacity: 0%;
}

.members-card > .mdl-card__title {
  	color: #fff;
  	background-size: cover;
}

#members-jeferson > .mdl-card__title {
  	color: #fff;
  	background: url('../img/members/jeferson.jpg') #00d6a6;
  	background-size: cover;
}

#members-mateus > .mdl-card__title {
  	color: #fff;
  	background: url('../img/members/mateus.jpg') #00d6a6;
  	background-size: cover;
}

#members-diego > .mdl-card__title {
  	color: #fff;
  	background: url('../img/members/diego.jpeg') #00d6a6;
  	background-size: cover;
}

#members-ingrid > .mdl-card__title {
  	color: #fff;
  	background: url('../img/members/ingrid.jpg') #00d6a6;
  	background-size: cover;
}

#members-zezinho > .mdl-card__title {
  	color: #fff;
  	background: url('../img/members/zezinho.jpg') #00d6a6;
  	background-size: cover;
}

#members-ernesto > .mdl-card__title {
  	color: #fff;
  	background: url('../img/members/ernesto.jpg') #00d6a6;
  	background-size: cover;
}

#members-bete > .mdl-card__title {
	color: #fff;
  	background: url('../img/members/bete.jpg') #00d6a6;
  	background-size: cover;
}

#members-thiago > .mdl-card__title {
	color: #fff;
  	background: url('../img/members/thiago.jpeg') #00d6a6;
  	background-size: cover;
}

#members-marina > .mdl-card__title {
	color: #fff;
  	background: url('../img/members/marina.jpg') #00d6a6;
  	background-size: cover;
}

#members-alex > .mdl-card__title {
	color: #fff;
  	background: url('../img/members/alex.jpeg') #00d6a6;
  	background-size: cover;
}